<div class="accordion-item">
    <div class="accordion-header" id="heading">
        <h2>
            <button class="accordion-button" type="button">
                {{ block.settings.label }}
            </button>
        </h2>
    </div>
    <div class="accordion-collapse">
        <div class="accordion-body">
            {{ block.settings.content }}
        </div>
    </div>
</div>